

.contenedor-principal{
    width: 90%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
   
   
}

.div-boton{
    text-align: end;
    justify-content: flex-end;
}
.div-titulo{
    display: flex;
    text-align: right;
    align-items: flex-end;
}

.nav-logo{
   
    text-align: center;
	align-items: center;
	justify-content: center;
}

.dashboard-header{
    display: flex;
    flex-direction: column;
   
   
}


.menu-botones{
    display: flex;
    flex-direction: row;
}



.borde-der{

    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
  

}
.borde-izq{
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
   
}



.div-inputs{
  
    display: flex;
    flex-direction: row;
  
  
 
}
.div-formu{
    display: flex;
    flex-direction: column;
    margin: auto;

   
}


.menu-enlaces{
    display: flex;
    flex-direction: row;
   
}

.div-titulo-user{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.d{

   
    display: flex;
    flex-direction: column;
    margin: auto;
  
   
   
    
}

.div-botones{
    display: flex;
    flex-direction: row;
}




* {                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                
	
	box-sizing: border-box;
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  
    
   
}
h2{
    font-size: 16px;
    
}




.contenedor1{   
    width: 90%;
    max-width:1000px;
    display: flex;
    flex-direction: column;
    margin: auto;
   
    
 
  
  
}

.menu{
   
    display: flex;
    flex-direction: row;

}


.titulo-user{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  
}
.header{
   
    display: flex;
    flex-direction: column;
}

.formulario-rides{
    display: flex;
    flex-direction:column;
    width: 50%;
    margin: 3%;
    height: 500px;
    justify-content: space-between;
  
   
   
}

.div-ubicacion{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-between;
  
}

.texarea{
  width: 60%;
  height: 70px;
}

.div-checkbox{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}



.div-boton-enlace{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 3em;
}






.linea{
    width: 50%;
   
}

.boton-save{
    color: white;
    background-color: green;

}

.div-end{
    padding-left:  20px;

}

.div-formulario-login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
   

 
   
}
.contenedor-principal-login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
  
    
}
label{
    font-weight: bold;
}
.boton-login{
    width: 100px;
    height: 37px;
    border-radius: 10px;
  
}

.contenedor-principal-registro{
    display: flex;
    flex-direction: column;
    padding-left:7em;
    
  
  
}

.div-registro{
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 400px;
    justify-content: space-between;

}

.div-infouser{
    display: flex;
    flex-direction: column;

}
.inputs-registro{
    width: 300px;

}
.boton-registro{
   align-self: center;
   border-radius: 15px;
}


.form-settings{
    width: 50%;  
}

.button-enlace{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


.textarea-settings{
    flex-basis: 100px;
}


.inputs-settings{
    width: 50%


}


.div-inputs-p{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

.tabla{
    width: 50%;
    border: 1px solid grey;
    border-spacing: 0;
}

td{
    border: 1px solid grey;
   
}
.fila{
    height: 40px;
    border: 1px solid #000;
    border-collapse: collapse;
   
    
}


#contenedor-index{
    justify-content: space-between;
    height: auto;
   
   
}


.div-searchrides{
    display: flex;
    flex-direction: row;
    border: solid gray;
    align-items: center;
    height:100px;
    width: 80%;
    justify-content: space-between;
  
}

.tabla-index{
    width: 100%;
    border: 1px solid grey;
    border-spacing: 0;

}

.div-tabla-index{
    width: 80%; 

}

.div-tabla-dashboard{
   margin: 20px;
  
}


.div-padre-tabla-dasboard{
    border:solid grey;
}

tr:nth-child(1){
    background-color:blue;
    text-transform:uppercase;
    color: white;

}



.boton-login{
    border: solid red;
}

.div-image-user{
    display: flex;
    flex-direction:column;
  
}

#user{
    color: red;
}

